/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) {
  /* START APP CSS */
  .App {
    text-align: center;
    --main-color: #be8813;
    --white: white;
  }
  * {
    margin: 0;
    padding: 0;
  }
  /* BEGIN HEADER CSS */
  .App-header {
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--white);
    padding: 25px 0px;
  }
  .App-header h1 {
    margin-top: -15px;
    padding: 10px;
  }
  .recipeFinderSearch {
    width: 80%;
    height: 45px;
  }
  input#search {
    padding-left: 15px;
  }
  .searchIcon {
    color: #be8813;
    font-size: x-large;
    position: relative;
    bottom: 36px;
    left: 180px;
  }
}














/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 720px) {
  /* BEGIN HEADER CSS */
  .searchIcon {
    left: 270px;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* BEGIN HEADER CSS */
  .searchIcon {
    left: 470px;
  }

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
  /* BEGIN HEADER CSS */
  .searchIcon {
    left: 550px;
  }

}
